.date-container{
    padding: 20px;
    margin: 10px;
    height: 80px;
    width: 20%;
    max-width: 100px;
    border-radius: 10px;
    background-color: black;
    color: white;
    opacity: 50%;}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
}
.box{
padding: 20px;
margin: 10px;
height: 320px;
width: 100%;
max-width: 500px;
border-radius: 10px;
background-color: black;
color: white;
opacity: 70%;

}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
input.searchbar{
    padding: 8px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    outline: none;   /*the line inside search bar while typing*/

}
button{
    margin: 7px;
    background-color: white;
    color: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
h1.tempreature{
    font-size: larger;
    font-family: sans-serif;
}
.description{
    font-size: larger;
    margin-left: 8px;
    font-family: sans-serif;
}
weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading::after{
visibility: visible;
contain: "LOADING";
color: azure;
position: absolute;
left: 20pxs;
}
